
Pomodoro_Clock/.vs/ProjectEvaluation/pomodoro_clock.projects.v2
*.vsidx
*.bin
*.v2
*.v2
*.v2
Pomodoro_Clock/.vs/ProjectEvaluation/pomodoro_clock.projects.v2
*.v1
*.v1
*.cache
*.v2
*.cache
*.cache
Pomodoro_Clock/Pomodoro_Clock/obj/Debug/net6.0-windows/Pomodoro_Clock.assets.cache
*.v2
*.v2
*.v2
Pomodoro_Clock/.vs/Pomodoro_Clock/v17/.suo
*.v2
